certifi==2025.7.14
charset-normalizer==3.4.2
elastic-transport==8.17.1
elasticsearch==8.18.1
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
pyparsing==3.2.3
pysigma==0.8.12
pysigma-backend-elasticsearch==0.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
PyYAML==6.0.2
requests==2.32.4
six==1.17.0
slack_bolt==1.23.0
slack_sdk==3.36.0
typing_extensions==4.14.1
urllib3==2.5.0
watchdog==6.0.0
